<div class="container" id="main-container">
    <form [formGroup]="usuarioForm" (submit)="onSubmit()">
        <h3 class="mb-5 mt-3">Registre-se</h3>
        <div class=" form-group, full-box">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" formControlName="nomeUsuario"
                placeholder="Digite o nome do usuário aqui...">
        </div>
        <div class=" form-group, half-box spacing">
            <label for="nome">CPF</label>
            <input type="text" class="form-control" formControlName="cpfUsuario"
                placeholder="Digite o CPF do usuário aqui...">
        </div>
        <div class=" form-group, half-box">
            <label for="nome">Email</label>
            <input type="text" class="form-control" formControlName="emailUsuario"
                placeholder="Digite o email do usuário aqui...">
        </div>
        <div class=" form-group full-box">
            <label for="nome">Telefone</label>
            <input type="text" class="form-control" formControlName="telefoneUsuario"
                placeholder="Digite o telefone do usuário aqui...">
        </div>
        <div class=" form-group, full-box">
            <label for="nome">Senha</label>
            <input type="text" class="form-control" formControlName="senhaUsuario"
                placeholder="Digite a senha do usuário aqui...">
        </div>

        <div class="form-group, full-box">
            <input type="submit" id="btn-salvar" value="Registrar" [disabled]="!usuarioForm.valid">
        </div>
        <!-- <button type="submit" id="btn-salvar" [disabled]="!usuarioForm.valid" class="btn btn-primary">Salvar
            Usuário</button> -->
    </form>
</div>