.background-navbar{
    background-color: rgb(84, 84, 84);
} 

.yellowsearch {
    background-color: #EFD370;
}

.wrappr{
    display: flex;
    flex-direction: column;
}

.san{
    display: flex;
    flex-direction: row;
}
.centert {
    display: flex;
    justify-content: center;
} 