.footer{
    background-color: rgb(84, 84, 84);
    display: flex;
    align-items: center;
    justify-content: space-around;  
}

.logoFooter{
    display: flex;
    align-items: center;
    color: #fff;
}

.texto{
    color: black;
}

/* .logoFooter  img {
    width: 30%;
} */

.footer hr{
    width: 100px;
    border: 1px solid black;
    transform: rotate(90deg);
  }

.iconsFooter{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
} 